body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.pexels.com/photos/6439051/pexels-photo-6439051.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    overflow: hidden;
}

h2{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 22px;
    text-align: center;
    color: rgb(255, 255, 255)
}

.clock{
    display: flex;
}

.clock div{
    margin: 5px;
}

.clock span{
    width: 100px;
    height: 80px;
    background-color: rgb(59, 66, 70);
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(97, 97, 97, 0.3);
}

.clock .texto{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgba(121, 129, 118, 0.623);
    opacity: 0.8px;
}

.clock #ampm{
    bottom: 0;
    position: center;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: rgba(59, 66, 70, 0);
}